<server description="Open Liberty Jakarta EE server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>openapi-ui</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*" httpPort="9080" httpsPort="9443"/>

    <dataSource id="PostgresDS" jndiName="jdbc/citizenDS">
        <jdbcDriver libraryRef="PostgresLib"/>
        <properties>
            <serverName>postgres-db</serverName>
            <portNumber>5432</portNumber>
            <databaseName>citizens</databaseName>
            <user>postgres</user>
            <password>postgres</password>
        </properties>
    </dataSource>

    <library id="PostgresLib">
        <file name="/config/resources/postgresql.jar"/>
    </library>

    <webApplication location="citizen-api.war" contextRoot="/"/>

</server>
